!!!
%html
  %head
    %title BeautyBook
    %link{href: "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", rel: "stylesheet"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    .header
      %p.title= link_to "Beauty Book", root_path
      .login
        - if current_user
          = current_user.email
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign In", new_user_session_path, :class => "popup", :"data-width" => 600, :"data-height" => 400
          = link_to "Register", new_user_registration_path, :class => "popup", :"data-width" => 600, :"data-height" => 400
    - if current_user
      .pure-menu.pure-menu-open.basic-menu
        %ul
          %li= link_to "Home", user_path(current_user)
          %li Search
          %li
    = yield