%h1 New Stylist
.form
  = form_for([@salon, @stylist]) do |f|
    - if @stylist.errors.any?
      #error_explanation
        %h2
          = pluralize(@stylist.errors.count, "error")
          prohibited this stylist from being saved:
        %ul
          - @stylist.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label :description
      = f.text_field :description
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :mobile
      = f.text_field :mobile
    .submit
      = f.submit
