.form
  =form_for @salon, url: {action: "update"} do |f|
    %div
      = f.label :opening_time
      = f.time_select :opening_time
    %div
      = f.label :closing_time
      = f.time_select :closing_time
    %div
      = f.label :phone
      = f.text_field :phone
    %div
      = f.label :website_url
      = f.text_field :website_url
    %div
      = f.label :address
      = f.text_field :address
    %div
      = f.label :postal_code
      = f.text_field :postal_code
    %div
      = f.label :city
      = f.text_field :city  
    %div
      = f.label :description
      = f.text_field :description
      = f.submit class: "btn btn-success"



