#salon-show
  .row
    .col-sm-6
      %img.img-responsive.img-rounded{src: set_default_image(@salon) }/
      / take out img-rounded if you don't want the rounded corners on the image
    .col-sm-6
      %h1=@salon.name
      #salon-info
        %div Hours: #{@salon.hours}
        %div Phone: #{@salon.phone}
        %div Address: #{@salon.full_address}
        %div Web: #{link_to @salon.website_url, @salon.website_url, :target => "_blank"}
        %div Category: #{@categories.join(", ")}
  %hr/
  .row
    .col-lg-12
      %h2 Services
      = render 'services'
      / %a.btn.btn-default{href: "#"} More Info
